DB_URL=jdbc:postgresql://db-host:5432/db-name
DB_USERNAME=db-user
DB_PASSWORD=db-password

GEMINI_API_KEY=api-key
GEMINI_OPENAI_URL=https://generativelanguage.googleapis.com/v1beta/openai
GEMINI_NATIVE_URL=https://generativelanguage.googleapis.com/v1beta
GEMINI_MODEL=gemini-2.5-flash

REDIS_URL=rediss://default:redis-password@redis-host:6379
REDIS_PORT=6379
REDIS_PASSWORD=redis-password
REDIS_TIMEOUT=2s
REDIS_SSL_ENABLED=true

JWT_SECRET=jwt-secret
APP_COOKIES_SECURE=true
APP_COOKIES_SAME_SITE=None
APP_CORS_ALLOWED_ORIGIN=https://frontend-domain.com
